/* style.css */

body {
    font-family: verdana, arial;

    margin: 0;
    padding: 0;
}

h1, h2 {
    color: green;
}


h1 {
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#page-title {
    top: 0px;
    margin: 0;

    
    padding-left: 10px;

    border: 1px solid black;
    background-color: #d48d66;

    position: fixed;
    width: 100%;
    height: 80px;
}

/* logo */

#logo {
    position: fixed;
    bottom: 2px;
    right: 2px;
}

/* rightmenu  */

#rightmenu {
    position: fixed;
    top: 5px;
    right: 5px;

    border: 1px solid #d0d0d0;
    font-size: 110%;

    background-color: #f4f5d8;
}

#rightmenu > ul {
    margin: 0;    
    padding: 20px;
}

#rightmenu li {
    margin-top: 8px;
    margin-bottom: 8px;
    list-style-type: none;
}

#rightmenu a {
    color: #c3454f;
}

/*   */


#content {
    margin-top: 100px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#content a {
    font-weight: bold;
    /*color: #736a9b;*/
    color: #6a5eab;
}

pre.code {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
    font-size: 110%;
    padding: 10px;
}

pre.code span.text {
    background-color: green;
}