/* style.css */

body {
    font-family: verdana, arial;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: green;
}


h1 {
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#page-title {
    top: 0px;
    margin: 0;

    
    padding-left: 10px;

    border: 1px solid black;
    background-color: #d48d66;

    position: fixed;
    width: 100%;
    height: 70px;
}

/* logo */

#logo {
    position: fixed;
    bottom: 2px;
    right: 2px;
}

/* rightmenu  */

#rightmenu {
    position: fixed;
    top: 5px;
    right: 5px;

    border: 1px solid #d0d0d0;
    font-size: 110%;

    background-color: #f4f5d8;
}

#rightmenu > ul {
    margin: 0;    
    padding: 20px;
}

#rightmenu li {
    margin-top: 8px;
    margin-bottom: 8px;
    list-style-type: none;
}

#rightmenu a {
    color: #c3454f;
}

/*   */


#content {
    margin-top: 100px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#content a {
    font-weight: bold;
    /*color: #736a9b;*/
    color: #6a5eab;
}

pre.code {
    background-color: #eeeeee;
    /*font-family: Courier New;
    font-size: 110%;
       */
    font-family: Courier;
    border: 1px solid #d0d0d0;
    padding: 10px;
}

/* apidoc */

.apidoc {
    margin-top: 15px;
    border: 1px solid #d0d0d0;
    width: 90%;
    font-size: 90%;

}

.apidoc > div {
    padding: 5px;
    padding-left: 40px;
}

.apidoc > div:first-child {
    /*background-color: #dfebf1;*/
    /*color: navy;*/
    /*background-color: #284452;*/
    background-color: #c5e3b5;
    color: black;
    border-bottom: 1px solid #d0d0d0;
    padding: 3px;
}

.apidoc > div > ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.apidoc > div > div:first-child {
    font-weight: bold;
    /*color: #6a5eab;*/
    /*color: navy;*/
    margin-left: -20px;

}
